@import "./vars";


body{
  background: $bg;
  color: $main;
  min-height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
.error{
  color: red;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.main{
  width: 1800px;
  margin: 0 20px;
}
.swiper{
  margin-bottom: 35px !important;
}