@import "./vars";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: $bg;
  color: $main;
  min-height: 100%;
}
a{
  text-decoration: none;
  color: inherit;
}
p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
h4{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
ul{
  list-style: none;
}
.error{
  color: red;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.main{
  margin: 0 20px;
}
.swiper{
  margin-bottom: 35px !important;
}
.books {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  align-self: center;
  align-items: center;
  align-content: center;
  justify-self: center;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали */
  margin-top: 40px; /* Отступ сверху */
}
.load{
  text-align: center;
}

.btn {
  cursor: pointer;
  background: #6A5ACD;
  text-transform: uppercase;
  font-size: 24px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #7B68EE;
}
iframe{
  width: 100%;
  height: 600px;
}
.v-application{
  background: none !important;
  color: inherit !important;
}
.bg-main{
  background: #6A5ACD;
}